<h2>Reactivos: <span>Switches</span></h2>
<hr>

<form autocomplete="off"
[formGroup]="miFormulario"
(ngSubmit)=guardar()>

    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Genero</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input" 
                type="radio" 
                id="radioM"
                value="M"
                formControlName="genero">
                <label class="form-check-label" for="flexRadioDefault1">
                  Masculino
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" 
                type="radio" 
                id="radioF"
                value="F"
                formControlName="genero">
                <label class="form-check-label" for="flexRadioDefault2">
                  Femenino
                </label>
            </div>

        </div>
    </div>

    <!-- Switch -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Genero</label>
        <div class="col-sm-9">

            <div class="form-check form-switch">
                <input class="form-check-input"
                 type="checkbox" 
                 id="flexSwitchCheckDefault"
                 formControlName="notificaciones"
                 required>
                <label class="form-check-label" 
                for="flexSwitchCheckDefault">Recibir notificaciones</label>
              </div>

        </div>
    </div>

    <!-- Check -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            
            <div class="form-check">
                <input class="form-check-input" 
                type="checkbox" 
                value="" 
                id="flexCheckDefault"
                formControlName="condiciones">
                <label class="form-check-label" for="flexCheckDefault">
                  Terminos y condiciones
                </label>
            </div>
        </div>
    </div>

    <!-- Boton -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
            type="submit">
                Guardar
            </button>
        </div>
    </div>

</form>

<h5>Valor del formulario</h5>
<pre>{{miFormulario.value | json}}</pre>

<h5>Valor de persona</h5>
<pre>{{persona | json}}</pre>

<h5>Valid</h5>
<pre>{{miFormulario.valid}}</pre>

